{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Product List
{% endblock %}

{% block content %}
    <div class="collections">
        <h2>Collections</h2>
        <ul>
            <li><a href="{% url 'shop:product_list' %}">All</a></li>
            {% for col in collections %}
                <li><a href="{% url 'shop:product_list_by_collection' col.slug %}">{{ col.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="product-list">
        {% for product in products %}
        <div class="product-detail">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="{{ product.name }}">
            <h2>{{ product.name }}</h2>
            <p class="price">${{ product.price }}</p>
            <p>{{ product.description|linebreaks }}</p>
            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ product.cart_product_form }}
                {% csrf_token %}
                <input type="submit" value="Add to cart">
            </form>
        </div>
        {% endfor %}
    </div>
{% endblock %}
